#npm镜像
registry=https://registry.npmmirror.com/

#electron下载镜像
electron-mirror=https://npmmirror.com/mirrors/electron/

#msbuild路径,需要改成自己vs安装位置
msbuild_path=H:\IDEs\Visual Studio\MSBuild\Current\Bin\MSbuild.exe

#vs版本
msvs_version=2022

